<!DOCTYPE html>
<html lang="es">
  <head>
    <title><%= title %></title>
    <meta chaset="utf-8"/>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
    <link rel='stylesheet' type='text/css' media='(min-width:530px) and (min-device-width:481px)' href='/stylesheets/wide.css' />
    <link rel='stylesheet' type='text/css' media='only screen and (max-width:480px)' href='/stylesheets/phone.css' />
    <script>

        // Función para buscar preguntas por GET.
        function buscarPregunta(){
            regexp = new RegExp('[A-Za-z0-9áéíóú]','g');
            txtBuscar = document.getElementById('txtBuscar').value.toString().match(regexp).join('').toString();
            document.location = '/quizes/buscar/'+txtBuscar;
        }
    
        // Función para buscar temas por GET.
        function submitTema(){
            regexp = new RegExp('[A-Za-z0-9áéíóú]','g');
            select = document.getElementById('selTema');
            tema = select.options[select.selectedIndex].value.match(regexp).join('').toString().toLowerCase();
            document.location='/quizes/tema/'+tema;
        }

    </script>
   </head>
  <body>
  	<div id="page-wrap">

        <div id="formSearch">
            <input type="text" id="txtBuscar" placeholder="Buscar este texto en una pregunta..."/>
            <button type="button" onclick="buscarPregunta()">Buscar</button>
        </div>

  		<header class="main" id="h1">
  			<h2><%= title %><span>: <%= description %></span></h2>
      
  		</header>
  		
  		<nav class="main" id="n1" role="navigation">
  			<span><a href="/">Inicio</a></span>
  			<span><a href="/quizes">Preguntas</a></span>
  			<span><a href="/author">Créditos</a></span>
  		</nav>

  		<section class="main" id="s1">

            <% if(errors.length) { %>

                <span id="errorMsgs">
                    Corregir errores:<br/>
                    <% for (var i in errors) { %>
                     <span><%= errors[i].message %></span><br/>
                    <% } %>
                </span>

            <% } %>

  			<%- body %>
            
  		</section>

	    <footer class="main" id="f1">
	    	<a href="https://es.wikipedia.org/wiki/Quiz">¿Que es un Quiz?</a>
	    	<a href="https://github.com/serggiod/quiz">Proyecto en GitHub</a>
	    </footer>
  	</div>
  </body>
</html>