<center>
	Tema: 
		<select id="selTema"  class="upper">
			<option value="todos">Todos</option>
			<% var i; for(i in temas){ %>
				<option value="<%= temas[i] %>" class="upper"><%= temas[i] %></option>
			<% } %>
		</select>
		<a>
			<button type="button" onclick="submitTema()">Cambiar</button>
		</a>
		<% if(session.user){ %>
		|
		<a href="/quizes/nuevo">
			<button type="button">Crear Pregunta</button>
		</a>
		<% } %>
</center>
<br/>
<center>
	<table align="center">
		<% var i; for(i=0; i < quizes.length; i++) { %>
		<tr>
			<td align="center"><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a><span class="tema"></span></td>
			<% if(session.user){ %>
			<td><a href="/quizes/<%= quizes[i].id %>/editar"><button type="button">Editar</button></a></td>
			<td>
				<form method="POST" action="/quizes/<%= quizes[i].id %>?_method=delete">
					<button type="submit" onclick="return confirm('¿Esta seguro que desea eliminar la pregunta: <%= quizes[i].pregunta %>?');">
						Borrar
					</button>
					
				</form>
			</td>
			<% } %>
		</tr>
		<% }  %>
	</table>

	<br/>

	<br/><br/>
	<p>
		<a href="/quizes">Volver atrás</a>
	</p>
</center>