<h3>Estadisticas</h3>
<br/>
<p>Número de Preguntas: <%= totalPreguntas %> </p>
<br/>
<p>Número de Comentarios Totales: <%= totalComentarios %></p>
<br/>
<p>Número Medio de Comentarios por Pregunta: <%= promedioComentariosPorPreguntas %></p>
<br/>
<p>Número de Preguntas sin Comentarios: <%= totalPreguntasSinComentarios %></p>
<br/>
<p>Número de Preguntas con Comentarios: <%= totalPreguntasConComentarios %></p>
<br/>